<!-- Footer Section Start -->
<footer>
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-sm-6 col-xs-12">
    <!--    <ul class="footer-links">
          <li>
            <a href="#">Homepage</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>-->
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="copyright">
          <p>All copyrights reserved &copy;{{date | date: 'yyyy'}} - Made with <i class="lnr lnr-{{footer.emoji}}"></i> in Benoni</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
