<!-- Mobile Menu Start -->
<ul class="mobile-menu">
   <li>
      <a class="page-scroll" href="#hero-area">Home</a>
    </li>
    <li>
      <a class="page-scroll" href="#services">Services</a>
    </li>
    <li>
      <a class="page-scroll" href="#features">Features</a>
    </li>
    <li>
      <a class="page-scroll" href="#portfolios">Works</a>
    </li>
    <li>
      <a class="page-scroll" href="#pricing">Pricing</a>
    </li>
    <li>
      <a class="page-scroll" href="#team">Team</a>
    </li>
    <li >
      <a class="page-scroll" href="#blog">Blog</a>
    </li>
    <li>
      <a class="page-scroll" href="#contact">Contact</a>
    </li>
</ul>
<!-- Mobile Menu End -->
