<div class="collapse navbar-collapse" id="main-navbar">
  <ul class="navbar-nav mr-auto w-100 justify-content-end">
    <li class="nav-item">
      <a class="nav-link page-scroll" routerLink="/Home" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link page-scroll" routerLink="/Services">What we do</a>
    </li>
    <li class="nav-item">
      <a class="nav-link page-scroll" routerLink="/Features">Motivation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link page-scroll" routerLink="/Works">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link page-scroll" routerLink="/Pricing">Our Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link page-scroll" routerLink="/Team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link page-scroll" routerLink="/Blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link page-scroll" routerLink="/Contact">Contact</a>
    </li>
  </ul>
</div>
